.jg-viewport {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: move;
}

.jg-glow-top {
  height: 10px;
  margin-left: -25%;
  pointer-events: none;
  position: absolute;
  width: 150%;
  z-index: 6000;
}

.jg-glow-bottom {
  height: 10px;
  margin-left: -25%;
  pointer-events: none;
  position: absolute;
  width: 150%;
  z-index: 6000;
}

.jg-timeline {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jg-dates {
  background: #AAA;
  border-bottom: 1px solid #000;
  height: 30px;
  position: relative;
  z-index: 5003;
}

.jg-dates .jg-label {
  position: absolute;
  text-align: center;
}

.jg-dates div[class*='jg-'] {
  margin: 0 auto;
}

.jg-label .jg-year {
  font-size: 13px;
  padding-top: 7px;
  white-space: nowrap;
}

.jg-label .jg-month {
  font-size: 9px;
  padding-top: 10px;
}

.jg-label .jg-week {
  font-size: 12px;
  padding-top: 8px;
}

.jg-content-wrap {
  position: relative;
}

.jg-content {
  position: relative;
}

.jg-content .jg-project {
  position: absolute;
  z-index: 5;
}

.jg-content .jg-project .jg-data {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.jg-content .jg-project .jg-icon {
  float: left;
  height: 100%;
  margin-right: 8px;
}

.jg-content .jg-project .jg-name {
  color: #FFF;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.jg-content .jg-project .jg-tasks {
  background: black;
  bottom: 0px;
  height: 80%;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.jg-content .jg-project .jg-tasks .jg-task {
  background: #FFF;
  border-radius: 10px;
  height: 5px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.jg-viewport .jg-playhead {
  background: blue;
  height: 300px;
  left: 80px;
  opacity: 0.4;
  position: absolute;
  top: 30px;
  width: 3px;
  z-index: 1;
}

.jg-grid {
  display: none;
}