.sg-viewport {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.sg-timeline {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sg-content {
  cursor: move;
  position: relative;
}








.sg-labels {
  background: #AAA;
  height: 30px;
  position: relative;
  z-index: 5003;
}

.sg-content {
  cursor: move;
}

.sg-grid {
  display: none;
}

.sg-labels .sg-label {
  position: absolute;
  text-align: center;
  top: 5px;
}

.sg-labels div[class*='sg-'] {
  margin: 0 auto;
}

.sg-content .sg-project {
  position: absolute;
  z-index: 5;
}

.sg-content .sg-project .sg-moments {
  z-index: 10;
}

.sg-content .sg-project .sg-data {
  z-index: 10;
}

.sg-content .sg-project .sg-icon {
  float: left;
  height: 100%;
  margin-right: 8px;
}

.sg-content .sg-project .sg-name {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.sg-content .sg-project .sg-tasks {
  background: black;
  bottom: 0px;
  height: 80%;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.sg-content .sg-project .sg-tasks .sg-task {
  background: #FFF;
  border-radius: 10px;
  height: 5px;
  position: absolute;
  top: 5px;
  width: 5px;
}