body {
  font-family: Helvetica, Arial;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

.container {
  border: 1px solid black;
  height: 300px;
}

.container .sg-content .sg-object {
  color: #FFF;
  border-radius: 3px;
}

.container .sg-content .sg-object .sg-name {
  padding-top: 5px;
}